<div class="row" id="bottom">
  <div class="col-md-4"><a href="https://pedrorijo.com/">pedrorijo.com</a></div>
  <div class="col-md-4 offset-md-1"><a href="https://github.com/pedrorijo91/ross">pedrorijo91/ross</a></div>
  <div class="col-md-3">
    <a href="https://www.linkedin.com/in/pedrorijo91/"><i class="fab fa-linkedin fa-lg"></i></a>
    <a href="https://twitter.com/pedrorijo91"><i class="fab fa-twitter fa-lg"></i></a>
    <a href="https://github.com/pedrorijo91"><i class="fab fa-github fa-lg"></i></a>
    <a href="https://stackoverflow.com/users/4398050/pedrorijo91"><i class="fab fa-stack-overflow fa-lg"></i></a>
  </div>
</div>